body {
	font-family: 'Federo', sans-serif;
	overflow-x: hidden;
}

.navbar {
  background-color: #458B74;
}

.navbar ul li a {
  color: #fff !important;
  font-size: 15px;
}

.navbar ul li a:hover {
  background-color: #fff !important;
  color: #458B74 !important;
}

.navbar-brand {
  color: #fff !important;
  font-size: 20px;
}


/***** HOME *****/

home
*/
.btn{
	border: 2.5px solid transparent;
	border-radius: 0px;
	padding: 7px 15px;
	margin: 3px;
}
.btn-default{
	background-color: transparent;
	color: white;
	border-color: white;
}
#front {
  background: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  padding-top: 15vh;
}
#front h1 {
	font-size: 29.7px;
	display:inline-block;
    -webkit-transform:scale(1.9,1.7); /* Safari and Chrome */
    -moz-transform:scale(1.9,1.7); /* Firefox */
    -ms-transform:scale(1.9,1.7); /* IE 9 */
    -o-transform:scale(1.9,1.7); /* Opera */
    transform:scale(1.9,1.7); /* W3C */
	line-height: 1.7;
}
#front p {
	font-size: 21.19px;
	margin-bottom: 21px;
}
@import url(https://fonts.googleapis.com/css?family=Federo|Redressed);
#front span {
	font-size: 60.1px;
}
#home { 
	background: url(https://res.cloudinary.com/omiq17/image/upload/q_auto/v1501085935/portfolio/desk_viadd9.jpg) center center;
	background-attachment: fixed, scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: auto;
	max-width: 100%;
	text-align: center;
	color: white;
}
.redressed {
	font-family: 'Redressed', cursive;
}
/*

/***** ABOUT *****/

#about {
	text-align: center;
	min-height: 100vh;
	width: 100%;
    background: #E8EAF6;
    padding-bottom: 150px;
    
   
}
.about {
	padding: 20% 15%;
}
.about p, .about h2 {
	font-family: 'Lato', sans-serif;
}
.about h1 {
	margin: 5%;
}
.about p {
	font-size: 19.9px;
}
.about img {
	border-radius: 55px 5px 55px 25px;
	display: inline-block;
	height: 50%;
  width: 50%;
}

/***** PORTFOLIO *****/

#portfolio {
  padding-top: 20px;
  padding-bottom: 40px;
  margin-top: 10px;
  background-color: #EEDFCC;
}

.portfolio-header {
  color: #000;
}

.placeholder-item {
  margin-top: 40px;
  text-align: center;
  overflo: hidden;
}

.placeholder-desc {
  margin-top: 10px;
  font-size: 16px;
  color: #000;
}

img {
  border: 1px solid orange;
  border-radius: 5px;
  width: 100%;
}

.divider {
  background-color: #458B74;
  height: 3px;
}


/***** CONTACT *****/

#contact {
  background-color: #EEDFCC;
  padding-top: 10px;
  padding-bottom: 65px;
}

.contact-header {
  font-family: "Oswald";
  color: #000;
  font-size: 40px;
}

.contact-line {
  background-color: orange;
  border: none;
  height: 2px;
  width: 40%;
}

.contact-wrap {
  margin-top: 60px;
}

form {
  margin-top: 50px;
}

input {
  width: 40%;
  height: 30px;
  margin: 10px;
}

#message {
  width: 40%;
  height: 200px;
  margin-top: 10px;
}

#submit-button {
  width: 10%;
  height: 40px;
  background-color: #458B74;
  color: #fff;
  
}


/***** FOOTER *****/

footer {
  background-color: #458B74;
  height: 40px;
}

.footer-menu {
  margin-left: -30px;
}

.footer-menu li {
  display: inline;
  margin: 10px;
}

.footer-menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

@media screen and (max-width: 1000px) {
  .about-text {
    font-size: 15px;
  }
  h3 {
    font-size: 16px;
  }
  .skills-list li {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
	.about {
		padding: 0% 25%;
    }
    
    
}